
@using CandidateTracker.data
@using CadidateTracker.web.Models
@model CandidateViewModel

<h2>Refused</h2>
<a class="btn btn-success" id="toggl-btn">Toggle Notes</a>
<br />
<table class="table table-hover table-striped">
    <tr>
        <th>First Name</th>
        <th>Last Name</th>
        <th>Phone Number</th>
        <th>Email</th>
        <th>Notes</th>
    </tr>
    @foreach (Candidate c in Model.Candidates)
    {
        <tr>
            <td>@c.FirstName</td>
            <td>@c.LastName</td>
            <td>@c.PhoneNumber</td>
            <td>@c.Email</td>
            <td>@c.Notes</td>
        </tr>
    }
</table>


@section scripts{
    <script src="~/Scripts/toggle.js"></script>
}